 * {
   margin: 0;

   padding: 0;
   list-style: none;
 }

 html,
 body {
   height: 100%;
 }

 a {
   text-decoration: none;
 }

 .icon {
   width: 1em;
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
 }

 .sousuo {
   font-size: 20px;
   padding: 0 12.5px;
 }


 .main {
   width: 100%;
   //  background: url("./assets/images/bg.jpeg") center center / cover no-repeat;
   /* height: 700px; */
   position: relative;
   height: 100%;
 }

 .centerBox {
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
 }

 .log {
   width: 400px;
   height: 100px;
   //  border-radius: 50%;
   //  border: 1px solid #ffffff;
   /* background-color: orange; */
   margin: 0 auto;
   margin-bottom: 20px;

   h1 {
     text-align: center;
     line-height: 100px;
   }
 }

 .searchWrap {
   margin: 0 auto;
   width: 600px;
   height: 45px;
   display: flex;
   background-color: rgba(255, 255, 255, 0.8);
   align-items: center;
   border-radius: 45px;
   position: relative;
 }

 .searchInput {
   padding-left: 2px;
   flex-grow: 1;
   height: 45px;
   background-color: rgba(0, 0, 0, 0);
   outline: none;
   border: none;
   font-size: 16px;
 }

 .searchTips {
   width: 98%;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 4px;
   overflow: hidden;
   color: #666;
   position: absolute;
   top: 55px;
   left: 50%;
   transform: translateX(-50%);

   li {
     padding: 10px 0;
     padding-left: 40px;
     cursor: pointer;
     font-size: 16px;
   }
 }



 .tipCur {
   background-color: rgba(0, 0, 0, 0.05);
 }


 /* 图标跳转部分 */
 .siteWrap {
   width: 1000px;
   margin: 0 auto;
   overflow: hidden;
   margin-top: 15px;
 }

 /* 行内的flex一定要设置成inline-flex,否则不一定能得到想要的结果 */
 .quickBox {
   display: inline-flex;

   ul {
     width: 600px;
     display: inline-flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding: 0 200px;

     li {
       display: inline-flex;
       flex-direction: column;
       align-items: center;
       padding: 0 20px;
       margin-top: 10px;
     }

     .quickIcon {
       $wh: 70px;
       width: $wh;
       height: $wh;
       background-color: #fff;
       transition: all .2s;
       border-radius: 50%;
       display: inline-block;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       box-shadow: 0 0 5px #666;
     }

     .quickIcon:hover {
       transform: scale(1.1);
     }

     .quickTitle {
       color: rgba(255, 255, 255, 0.8);
       width: 80px;
       text-align: center;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
     }
   }
 }




 .quickOption {
   display: flex;
   justify-content: center;
   margin-top: 10px;

   li {
     width: 13px;
     height: 13px;
     /* background-color: rgba(255, 255, 255, 0.4); */
     background-color: #fff;
     opacity: 0.4;
     border-radius: 50%;
     margin-left: 5px;
     transition: opacity .3s;
     cursor: pointer;

     &:hover {
       /* background-color: rgba(255, 255, 255, 0.7); */
       background-color: #fff;
       opacity: 0.7;
     }

     &:nth-child(1) {
       margin-left: 0;
     }
   }
 }


 .optionCur {
   background-color: #fff !important;
   opacity: 1 !important;
 }

 .contextMenu {
   position: fixed;
   /*这个菜单默认是不显示的*/
   display: none;
   list-style: none;
   border: 1px solid #ccc;
   padding: 10px 10px;
   font-size: 12px;
   box-shadow: 2px 3px 1px #666;
   border-radius: 2px;
   background: #fff;

   li {
     padding: 7px 3px;
     cursor: pointer;
     color: #666;

   }

   .chBg {
     height: 16px;
     position: relative;

     input {
       width: 50px;
       opacity: 0;
       cursor: pointer;
     }

     .title {
       position: absolute;
       top: 7px;
       z-index: -1;
       cursor: pointer;

     }
   }
 }

 .addSiteBox {
   width: 400px;
   height: 300px;
   background-color: #fff;
   position: fixed;
   top: 50%;
   left: 50%;
   border-radius: 5px;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   display: none;


   .siteIconImg {
     $diam: 70px;
     width: $diam;
     height: $diam;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     background-color: aquamarine;
   }

   input {
     height: 20px;
     outline: none;
     border: 1px solid #999;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
   }

   button {
     outline: none;
     border: 1px solid #999;
     width: 80px;
   }
 }

 .bgPreBox {
   position: absolute;
   top: 50%;
   left: 50%;
   //  width: 400px;
   //  height: 200px;

   background-color: #fff;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;

   .previewBg {
     display: inline-flex;
     align-items: center;
     flex-direction: column;
     padding: 10px;
   }

   .imgPreview {
     width: 600px;
   }

   .comfir {
     cursor: pointer;
     width: 50px;
     margin-top: 10px;
     padding: 5px;
     text-align: center;
     color: #fff;
     background-color: rgb(49, 126, 243);
     outline: none;
     border: none;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
   }
 }